@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{box-sizing: border-box;}
.body{min-height:100vh;
    font-family: 'Open Sans', sans-serif; 
    margin:0;
    padding:0;}

.navbar input[type=checkbox]{
    display: none;
}

.navbar input[type=checkbox]:checked ~ #menu{
    display: block;
    
}

.mymenu{display:none;}
 .navbar ul{list-style-type: none;
             margin:0;
             position: absolute;
             right: 10px;
             top: 0px;
             background-color: antiquewhite;}

 .navbar ul li { display: inline-block;
                 
                }          
.navbar ul li a{text-decoration: none;
                display:block;
                text-align: center;
                color:rgb(127, 124, 141);
                min-width: 150px;
                font-size: 1.2em;
                line-height: 50px;
                float:left;}


 .navbar li:hover a{background-color: darkslateblue;
            color:bisque;
            text-align: center;
            ;}

.header{ background-color: #ffb4a2;
        color:darkslateblue;
        text-align: center;
        padding: 50px;
        font-size: 3em;
        line-height: 70px;
        margin-top:47px}


.main> .col{float: left;
            padding: 20px;
            border: 1px solid beige;
            min-height: 400px}

 .main > .col:nth-child(1),
 .main > .col:nth-child(3) {
              background-color: #f7d1ba;
              width: 25%;}
             
.main >.col:nth-child(2){
    width:50%;
}

img{max-width:100%;
    float:left;
    margin:10px;
    border: 1px solid white;}
.main::after, .navbar::after ,img::after{
    content:"";
    display:table;
    clear: both;
}

 .footer{background-color: #ffb4a2;
            color:darkslateblue;
            text-align: center;
            font-size: 1em;
            line-height: 70px;}

  @media (max-width:800px) {
    .main > .col:nth-child(1),.main > .col:nth-child(2),
    .main > .col:nth-child(3) {
                 width: 100%;
                min-height: 0px;}
    .header{margin-top:0;}    
   .navbar ul{display: none;
               position: static;}          

   .navbar ul li,.navbar ul li a{
    width:100%;
    }
    
    .mymenu{display:block;
            background-color: black;
            padding: 15px 20px;
            color:white; }
  }  
