@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{box-sizing: border-box;}
.body{ height: 100vh;
      font-family: 'Open Sans', sans-serif;}

.header{background-color: #003049;
        font-size: 3em;
        text-align: center;
        color: aliceblue;
        height: 170px;
        padding: 40px;
        line-height: 50px;
        }

        .navbar{
            background-color:#e5e5e5;
            display: flex;
            margin:0 auto;
                          }
                 
                .navbar a{ 
                    text-decoration: none;
                    color:black;
                    display: block;
                    padding: 12px 15px;
                    padding:15px 30px ;
                    text-align: center;}    
                  
                    .navbar a:hover{background-color: black;
                                    color:white;
                                    text-align: center;}
                       
                    .main{ 
                        border: 1px solid #f9cd77;
                        padding: 0px;
                        font-size: 1.2em;
                        min-height: 50%;
                        border-radius: 5px;
                        display:grid;
                        grid-template-columns: 1fr 1fr 2fr;
                        grid-template-areas:"three two one" ;
                        grid-gap: 10px;
                         }
                            
                     .main > .col{border:1px solid #e5e5e5;
                            padding: 5px;
                            }
                       
                     .main>.col:nth-child(1){
                            
                                grid-area: one;}

                      .main>.col:nth-child(2){
                          background-color: #e0e1dd;
                           grid-area: two; }

                     .main>.col:nth-child(3){
                        background-color: #eb5e28;
                        grid-area: three; }
                        
                        /* if iam using float
                        .main::after,footer::after{
                            content:"";
                            display:table;
                            clear:both;
                        }     */


                      .myform{display: grid;
                              background-color: #eb5e28;
                              grid-template-areas: "labels inputs";

                              grid-gap: 20px;
                              padding: 30px;}

                      .myform>label{ grid-area: labels;
                                     grid-row: auto;}

                      .myform>input,
                      .myform>textarea{ grid-area: inputs;
                                     grid-row: auto;}
                        
                    .footer{background-color: black;
                        font-size: 1em;
                        text-align: center;
                        color: aliceblue;
                        height: 10%;
                        padding: 30px;
                        
                        }

                        @media (max-width:50em){
                            .navbar{flex-direction:column;}
                            .navbar a{border: 1px solid #f9cd77;}
                           .main {
                            grid-template-areas: "one one" "two two" "three three";
                             grid-template-columns: 1fr 1fr;}}

                             .myform{grid-template-areas: "labels inputs";}
                       